body {
    background-color: white;
    color: black;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "raleway", sans-serif;
}






header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px 0 55px;
}

.nav-bar ul{
    display: flex;
    list-style-type: none;
    padding: 48px 0 0 0;
    margin: 0px;
}

.logo{
    padding: 45px 0 0 0;
    width: 60px;
}

a {
    text-decoration: none;
    color: black;
    
}
.nav-bar-items{
    padding: 0 40px;
    margin: 20px 0 0;
}

.nav-bar-items:hover{
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding: 40px;

}

.search {
    margin: 50px 0 0 55px;
}

.search p {
    margin: 0 0 20px 0;
    padding: 0;
}

.search h1{
    margin-bottom: 8px;
    padding: 0;
}

form {
    display: flex;
}

.fa-solid.fa-location-dot {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50px;
    height: 50px;
    background-color: #D9D9D9;
    border: 1px solid #D9D9D9;
    border-radius: 15px 0 0 15px;
    color: #0065FC;
}

.search-input{
    border: 1px solid #D9D9D9;
    width: 235px;
    font-size: 18px;
}

.search-button{
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0 15px 15px 0;
    width: 135px;
    border: none;
}

input::placeholder {
    padding: 0px;
    font-family: "raleway";
    font-size: 18px;
    font-weight: bold;
    padding-left: 10px;
    color: black;

}

.filtres {
    margin: 40px 50px;
    display: flex;
    text-align: center;
}

ul {
    list-style: none;
}

.filtres ul {
    display: flex;
    align-items: center;
    gap: 40px;
    font-weight: bold;
    padding-left: 30px;

}

.filtres h2{
    display: flex;
    align-items: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.filtres ul li{
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #D9D9D9;
    border-radius: 25px;
    padding: 0 20px 0 20px;
    height: 50px;
}

.filtres i {
    color: #0065FC;
    padding: 10px;
    padding-left: 0;
}

.filtres ul li:hover{
    background-color: #DEEBFF;
}

.info{
    margin-left: 50px;
    display: flex;
    gap: 10px;
}

.info p{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.info i{
    color: #0065FC;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    padding: 7px 10px 7px 10px;
}

.hebergement-container {
    margin: 0px 50px;
    display: flex;
    justify-content:space-between;
    gap: 40px;
}

.hebergement {
    width: 65%;
}

.hotels {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    padding: 40px;
    border-radius: 25px;
    margin-top: 40px;
}
.hotels h2{
    margin-top: 0;
}

.hotels-cards{
    display: flex;
    flex-wrap: wrap;
    gap:30px;
}
.hotels-cards a {
    width: calc(33.333% - 20px);
}

article.hotel-card{
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    height: 100%;
}

.hotel-image{
    height: 125px;
    width: 100%;
    margin: 5px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}
article.hotel-card h3 {
    margin: 4px 4px 4px 15px;
    font-size: 15px;
}

article.hotel-card p {
    margin: 4px 4px 4px 15px;
    font-size: 15px;
}

.stars {
    margin: 0 0 15px 15px;
}
.stars i{
     margin: 4px 1px;
}

.description .stars {
    margin-top: auto;
}

.blue {
     color: #0065FC;
}

.empty {
    color: #D9D9D9;
}

aside.most-populaire-section{
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 40px;
    margin-top: 40px;
    width: 35%;
}
.header-most-populaire{
    display: flex;
    justify-content:space-between;
    margin-bottom: 20px;
}
.header-most-populaire h2{
    margin: 0;
}
.header-most-populaire i{
    font-size: 29px;
    color: #0065FC;
}
.most-populaire{
    display: flex;
    flex-direction: column;
    gap: 35px;
}
article.most-populaire-card{
    padding: 5px;
    display: flex;
    gap: 15px;
    background-color: white;
    border-radius: 20px;
    align-items: stretch;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}
.most-popular-image{
    height: 100%; 
    width: 140px;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
}
.description{
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    flex: 1; 
}
.description h3{
    margin-bottom: 5px;
    line-height: 1.2
}
.text-box{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-start;
}

/* activités */
.activites{
    margin: 50px;
    display: flex;
    flex-direction: column;
}

.activites h2 {
    margin-left: 50px;
}

.activite-section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 50px;
    margin: 0 50px;
    justify-content: start;
}

article.activite-card{
    height: 100%;
    width: 100%;
    box-shadow:0px 3px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}
article.activite-card img{
    width: 100%;
    height: 90%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
article.activite-card h3{
    margin: 20px;
}

/* footer */
footer{
    display: flex;
    justify-content: space-around;
    padding: 45px 0;
    margin: 50px;
    background-color: #f2f2f2;
}
.footer-section{
    display: flex;
    flex-direction: column;
}
.footer-section a{
    margin: 15px 0;
}




