body {
    background-color: white;
    color: black;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "raleway" !important;
}






header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px 0 55px;
}

.nav-bar ul{
    display: flex;
    list-style-type: none;
    /* gap: 50px; */
    padding: 48px 0 0 0;
    margin: 0px;
}

.logo{
    padding: 45px 0 0 0;
    width: 60px;
}

a {
    text-decoration: none;
    color: black;
    
}
.nav-bar-items{
    padding: 0 40px;
    margin: 20px 0 0;
}

.nav-bar-items:hover{
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding: 40px;

}

.search {
    margin: 50px 0 0 55px;
}

.search p {
    margin: 0 0 20px 0;
    padding: 0;
}

.search h1{
    margin-bottom: 8px;
    padding: 0;
}

form {
    display: flex;
}

.fa-solid.fa-location-dot {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50px;
    height: 50px;
    background-color: #D9D9D9;
    border: 1px solid #D9D9D9;
    border-radius: 15px 0 0 15px;
}

.search-input{
    border: 1px solid #D9D9D9;
    width: 235px;
    font-size: 18px;
}

.search-button{
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0 15px 15px 0;
    width: 135px;
    border: none;
}

input::placeholder {
    padding: 0px;
    font-family: "raleway";
    font-size: 18px;
    font-weight: bold;
    padding-left: 10px;
    color: black;

}

.filtres {
    margin: 40px 50px;
    display: flex;
    text-align: center;
}

ul {
    list-style: none !important;
}

.filtres ul {
    display: flex;
    align-items: center;
    gap: 40px;
    font-weight: bold;
    padding-left: 30px;

}

.filtres h1{
    display: flex;
    align-items: center;
}

.filtres ul li{
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #D9D9D9;
    border-radius: 25px;
    padding: 0 20px 0 20px;
    height: 50px;
}

.filtres i {
    color: #0065FC;
    padding: 10px;
    padding-left: 0;
    /* height: 10px; */
}

.filtres ul li:hover{
    background-color: #DEEBFF;
}

.info{
    margin-left: 50px;
    display: flex;
    gap: 10px;
}
.info p{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
.info i{
    color: #0065FC;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    padding: 7px 10px 7px 10px;

}